.hero_details-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  line-height: 1.6;
}

.hero_details-container img {
  flex: 1; 
  max-width: 100%;
  max-height: 36rem;
}

.hero_details {
  flex: 1;
  min-width: 35ch;
}

.hero_details li {
  list-style: disc; 
  margin-left: 1.5rem;
}
